@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Open+Sans:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
}
nav {
  padding: 36px 130px;
  display: flex;
  align-items: center;
}
nav .brand {
  margin-right: 70px;
}

nav .bar {
  flex: 1;
}

nav .bar a {
  color: #111;
  text-decoration: none;
  margin: 0 35px;
}

.search-box {
  display: flex;
  background-color: #fafafa;
  border-radius: 40px;
  align-items: center;
  padding: 8px 16px;
  margin-right: 50px;
}

.search-box .search-icon {
  font-size: 10px;
  color: #a0a3bd;
}
.search-box .search-input {
  transition: 0.5s;
  width: 0px;
  overflow: hidden;
}
.search-input .input {
  border: none;
  outline: none;
  background-color: unset;
  font-weight: bold;
  padding: 8px;
}
.search-box:hover .search-input {
  width: 200px;
  margin-left: 8px;
}
nav .profil .expand {
  display: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  padding-top: 5px;
  transition: 0.5s;
}
nav .profil .expand a {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  text-decoration: none;
}
nav .profil:hover .expand {
  display: block;
}
/* Section 1*/

.section-1 {
  padding: 36px 130px;
}

.section-1 .section-top {
  display: flex;
}
.section-1 .spiderman {
  box-sizing: border-box;
  border: 1px solid #dedede;
  padding: 32px;
  border-radius: 8px;
  margin-right: 50px;
  text-align: center;
}
.section-1 .section-top .spider-text {
  display: flex;
}
.section-1 .section-top .spider-text .directed {
  padding-left: 100px;
}
.section-1 .section-top .spider-text .casts {
  padding-left: 58px;
}

.section-1 .section-top .description {
  margin: 0;
}
.section-1 .section-top .description .spider-text span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #8692a6;
}
.section-1 .section-top .description .spider-text p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #121212;
  margin-top: 0;
}
.section-1 .section-top .description h2 {
  font-family: "Mulish";
  font-size: 32px;
  color: #14142b;
  letter-spacing: 1px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}
.section-1 .section-top .description .genre {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #4e4b66;
  letter-spacing: 0.75px;
  margin-top: 0;
  padding-top: 10px;
}
.section-1 .section-top .description hr {
  width: 750px;
  border: 1px solid #dedede;
  margin: 0;
}
.section-top .description .synopsis div {
  padding-top: 5px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.5px;
  color: #000000;
}
.section-top .description .synopsis p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  margin: 0;
}
/* Section-2*/
.section-2 {
  padding: 36px 130px;
  background: #f5f6f8;
}
.section-2 .time-place {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
.section-2 .time-place .date {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.section-2 .time-place .date div {
  padding-right: 0px;
  padding-left: 40px;
}
.section-2 .time-place .date input {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #4e4b66;
  box-sizing: border-box;
  border: 0;
  background: #eff0f6;
  border-radius: 6px;
  padding: 5px 80px;
  margin-right: 0;
}
.section-2 .time-place .date .location {
  padding-right: 70px;
  padding-left: 35px;
}
.section-2 .time-place .date select {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #4e4b66;
  box-sizing: border-box;
  border: 0;
  background: #eff0f6;
  border-radius: 6px;
  padding: 9px 80px;
  margin: 0;
}
.section-2 .section-ticket {
  display: flex;
}
.section-2 .section-ticket .ticket-first {
  width: 381px;
  height: 390px;
  box-sizing: border-box;
  border: 0;
  background-color: white;
  margin-right: 20px;
  border-radius: 8px;
}
.section-2 .section-ticket .ticket-first:hover {
  display: block;
  box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
}

/* pic1 */
.section-2 .section-ticket .ticket-first .pic {
  display: flex;
  padding-top: 10px;
}
.section-2 .section-ticket .ticket-first .pic img {
  margin-right: 0px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 25px;
}

.section-2 .section-ticket .ticket-first .pic div {
  padding-top: 25px;
  margin-bottom: 20px;
}
.section-2 .section-ticket .ticket-first .pic span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #000000;
}
.section-2 .section-ticket .ticket-first .pic p {
  margin-top: 0;
  padding-top: 10px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.75px;
  color: #6e7191;
}
/* pic-2 */
.section-2 .section-ticket .ticket-first .pic-2 {
  display: flex;
  padding-top: 10px;
}
.section-2 .section-ticket .ticket-first .pic-2 img {
  margin-right: 0px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 25px;
}

.section-2 .section-ticket .ticket-first .pic-2 div {
  padding-top: 25px;
  margin-bottom: 20px;
}
.section-2 .section-ticket .ticket-first .pic-2 span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #000000;
}
.section-2 .section-ticket .ticket-first .pic-2 p {
  margin-top: 0;
  padding-top: 10px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.75px;
  color: #6e7191;
}
/* pic-3 */
.section-2 .section-ticket .ticket-first .pic-3 {
  display: flex;
  padding-top: 10px;
}
.section-2 .section-ticket .ticket-first .pic-3 img {
  margin-right: 0px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 25px;
}

.section-2 .section-ticket .ticket-first .pic-3 div {
  padding-top: 25px;
  margin-bottom: 20px;
}
.section-2 .section-ticket .ticket-first .pic-3 span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #000000;
}
.section-2 .section-ticket .ticket-first .pic-3 p {
  margin-top: 0;
  padding-top: 10px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.75px;
  color: #6e7191;
}

.section-2 .section-ticket .ticket-first hr {
  margin-top: 0;
  margin-bottom: 20px;
  border: 0.5px solid #dedede;
}
.section-2 .section-ticket .ticket-first {
  padding-left: 0;
}
.section-2 .section-ticket .ticket-first .time {
  padding-bottom: 30px;
  padding-left: 30px;
}
.section-2 .section-ticket .ticket-first .time span {
  padding-right: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.section-2 .section-ticket .ticket-first .price-seat {
  margin-bottom: 20px;
  padding-left: 30px;
}
.section-2 .section-ticket .ticket-first .price-seat .price {
  margin-right: 150px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;

  color: #6b6b6b;
}
.section-2 .section-ticket .ticket-first .price-seat span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;

  color: #000000;
}
.section-2 .section-ticket .ticket-first .btn {
  padding-left: 30px;
  margin-bottom: 20px;
}
.section-2 .section-ticket .ticket-first .btn-book {
  padding: 10px 110px;
  border: 0;
  box-sizing: border-box;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;

  color: #f7f7fc;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  border-radius: 4px;
  background: #5f2eea;
}
.section-2 .section-ticket .ticket-first .btn-book:hover {
  background-color: rgb(228, 13, 131);
  display: block;
}

.section-2 .line-wrap {
  display: flex;
  padding-top: 50px;
  margin-bottom: 20px;
}
.line-wrap .line {
  flex: 1;
  padding-top: 10px;
}
.line-wrap .text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #5f2eea;

  margin: 0 20px;
}
.line-wrap .line hr {
  border: 0;
  border: 1px solid #dedede;
}
/* Footer */

footer {
  margin-top: 50px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 130px;
  padding-right: 130px;
}

footer .desc-foot {
  width: 300px;
}
footer .deskripsi {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: #6e7191;
  line-height: 32px;
}
.text-footer {
  padding: 15px 50px;
}
footer .text-footer span {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-weight: bold;
}
.text-footer .list-1 {
  padding-top: 15px;
}
.list-1 .list-text {
  font-family: "Mulish";
  font-size: 14px;
  color: #4e4b66;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 5px 0;
}

.follow-us .text-us {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-weight: bold;
}

footer .no-list {
  list-style: none;
  padding: 0;
}

footer .no-list li {
  display: flex;
  padding-top: 15px;
}
footer .footer-image {
  padding: 15px 0;
}

footer .follow-us {
  padding: 15px 50px;
  font-family: "Mulish";
  font-size: 14px;
  color: #6e7191;
}
footer .no-list .text-us {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-weight: bold;
}
footer .no-list .text-social {
  padding-left: 10px;
  padding-bottom: 15px;
}

.copyright {
  text-align: center;
  font-family: "Mulish";
  font-size: 14px;
  color: #4e4b66;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding-bottom: 50px;
}
